*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;;
}
main{
    width: 43%;

}
main,.grid1{
    padding: 2.8rem 4rem;
}
h5,.span-dollar{
    color: #ffffff;
}
ul{
    list-style-type: none;
}
li{
    color: hsl(204, 43%, 93%);
    font-size: .95rem;
}
h4,h3,h5,.btn,.span-dollar{
    font-weight: 700;
}
.btn{
    background-color: hsl(71, 73%, 54%);
    width: 100%;
    max-width: 50%;
    padding: .8rem;
    margin-top: .7rem;
}
.btn:hover{
    background-color: hsl(71, 73%, 44%);
}
.span-dollar{
    font-size: 3rem;
}
.span-month{
    color:hsl(204, 43%, 93%);
    margin-left: .8rem;
    font-size: .8rem;
    /* font-weight: bold; */
}
h3{
    padding-bottom: 1.3rem;
    color: hsl(179, 62%, 43%);
}
.main-h4{
    color: hsl(71, 73%, 54%);
    padding-bottom: .45rem;

}
.main-para{
    color: hsl(218, 22%, 67%);
}
.grid{
    display: flex;
    flex-flow: row wrap;
    
    /* justify-content: space-between; */
}
.grid1{
    background-color: hsl(179, 62%, 43%);
    color: #ffffff;
    flex-basis: 50%;

}
.grid2{
    background-color: hsla(179, 62%, 43%, 0.76);
    padding: 2.8rem 3rem 4rem;
    flex-basis: 50%;
}
.grid2 h5{
    padding-bottom: 2rem;
}
.attribution { 
    font-size: .8rem; 
    text-align: center; 
}
.attribution a { 
        color: hsl(179, 62%, 43%); 
}
@media screen and (max-width:750px) and (min-width:360px) {
    main{
        width: 100%;
    
    }
    main,.grid1{
        padding: 2rem 2rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.3rem;
    }

    .btn{
        max-width: 100%;
    }
    .grid{
        flex-flow: column wrap;
    }
    .grid2 h5{
        padding-bottom: 1.3rem;
    }
}
@media screen and (max-width:750px) and (min-width:500px) {
    .grid{
        text-align: center;
    }
    .btn{
        max-width: 60%;
    }
}

@media screen and (max-width:1440px) and (min-width:750px) {
    main{
        width: 90%;
    
    }
    .btn{
        max-width: 60%;
    }
}
